body {
    margin: 0;
    background: #1a2a33;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    gap: 1.25rem;

    #canvas {
        display: block;
        box-shadow: 0 0 10px rgb(255 255 255 / 50%);
    }

    #form {
        display: flex;
        gap: 1.25rem;

        input {
            flex: 1;
        }
    }
}
